.bodybg {
  background-color: #dbffff;
}
/* Header and Nav buttons */
.item1 {
  grid-area: header;
}
/* DNA and Donut Maker */
.item2 {
  grid-area: recentApps;
}

/* Main - proficiencies */
.main {
  grid-area: main;
}
/* My photo */
.item7 {
  grid-area: right;
}
.item8 {
  grid-area: footer;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header'
    'recentApps recentApps main right'
    'prevApps prevApps main right'
    'prevApps prevApps main footer';
  justify-content: space-evenly;
  align-content: space-between;
  grid-gap: 5px;
  padding: 5px;
}
.grid-container > div {
  padding: 0 10px;
  font-size: 20px;
  text-align: center;
}
