@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
.item7 > img,
h3,
h4 {
  border: 2px solid #281277;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
}
h2 {
  color: #281277;
}
.me {
  border: 5px solid #281277;
  border-radius: 10%;
  box-sizing: border-box;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 30%;
  right: 45%;
  bottom: auto;
  transform: translate(-50% -50%);
  transition: 200ms; /* Need to fix - doesn't transition */
  width: 40%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: #281277; /* Fallback color */
  border: 2px solid #281277;
  border-radius: 10px;
  box-sizing: border-box;
}
.modal:active {
  transform: translate(-50% -50%) scale(2);
  visibility: visible;
  opacity: 1;
  transition: 200ms;
}
/* Modal Header */
.modal-header {
  padding: 0.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(82, 34, 97);
}
/* Modal Content */
.modal-content {
  background-color: #dbffff;
  margin: auto;
  padding: 2%;
  border: 1px solid #888;
  width: 95%;
  text-align: left;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 1.5em;
  font-weight: bold;
}
/* Modal hover */
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}
.enlarge {
  width: 350px;
  height: auto;
  transition: width height 2s;
}
.enlarge:hover {
  width: 500px;
  height: 400px;
}
nav {
  text-align: justify;
  display: inline-block;
}
.buttons {
  background-color: #281277;
  font-size: 1em;
  color: aliceblue;
  text-align: center;
  border-radius: 10%;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: aliceblue;
}
#email {
  color: black;
}
#email:hover {
  font-weight: bold;
}
.main {
  text-align: left;
  font-size: 1em;
  margin-top: 20%;
}
#logo {
  width: 150px;
  height: 150px;
  float: left;
  border-radius: 10%;
}
/* .item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item8 {
  border: #000 solid 2px;
} */

.item2 > img,
.item3 > img {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  box-sizing: border-box;
}
.item2 > img:hover,
.item3 > img:hover {
  width: 600px;
  height: auto;
}

.item7 > img,
.item8 {
  margin-top: 25px;
}
.skills {
  list-style-type: circle;
}
#contact {
  color: none;
  background-color: none;
  transition: none;
}
footer {
  font-size: 0.75em;
  text-align: right;
}
.title {
  font-size: 2em;
  transition: 3s ease-in;
  text-align: center;
  margin: 0% 0% 2% 0%;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #dbffff, #281277);
  background-clip: text;
  letter-spacing: 0.5em;
  animation: spacing 5s ease-in;
}
.item4,
.item5 {
  flex: 0 0 auto;
}
.item4 > img,
.item5 > img {
  margin-right: 15px;
}

.slider {
  margin: 50px auto;
  width: 50%;
}
.image-box {
  height: 300px;
  width: 450px;
  background-color: #b7f1f1;
  border: solid 4px #281277;
  border-radius: 5%;
}
image-box img {
  width: 100%;
}
.projectButton {
  border: none;
  outline: none;
  background-color: #281277;
  padding: 10px;
  font-size: 1em;
  color: aliceblue;
  cursor: pointer;
  margin: 10px auto;
  text-align: center;
  border-radius: 10%;
}
.projectButton:hover {
  background: #111;
}
img {
  border-radius: 4%;
}
